@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap");
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "PT Sans Caption", sans-serif;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 20px;
}
.main__block_left {
  width: 40%;
  height: 75%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  color: #006058;
  justify-content: space-around;
}
.main__block {
  width: 255px;
  height: 350px;
  background-color: gray;
  border-radius: 15px;
  margin: 5px;
}
.main__blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}
.main__first_button {
  font-size: 1em;
  font-weight: bold;
  border: 0;
  background-color: white;
  text-align: left;
  color: #006058;
  padding: 2px 0;
}
.main__two_button {
  font-size: 1em;
  font-weight: bold;
  border: 0;
  background-color: white;
  text-align: left;
  color: #006058;
  padding: 2px 0;
}
.main__three_button {
  font-size: 1em;
  font-weight: bold;
  border: 0;
  background-color: white;
  text-align: left;
  color: #006058;
  padding: 10px 0 0 0;
}
.main__btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
}
.main__first_filter {
  display: contents;
}
.main__two_filter {
  display: contents;
}
.main__three_filter {
  display: contents;
}
.main__btn1 {
  width: 255px;
  height: 60px;
  border-radius: 20px;
  border: 0;
  background-color: #00B2A4;
  font-size: 1em;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}
.main__btn1:hover {
  background-color: #006058;
}
.main__btn2 {
  border: 0;
  font-size: 1em;
  background-color: #ffffff;
  color: #00B2A4;
  cursor: pointer;
  text-decoration: underline;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
}
.main #x {
  color: #00B2A4;
}
.main__btn2:hover {
  color: #006058;
}
.main__list {
  padding: 0;
  list-style: none;
  margin: 0;
}
.main__list li {
  padding-top: 10px;
}
.main__list--flex {
  display: flex;
  list-style: none;
  padding: 0;
}
.main__input--one {
  width: 120px;
  height: 60px;
  margin-right: 15px;
  border: 1px solid #C0E8E4;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 1.2em;
  padding-left: 5px;
  outline: none;
}
.main__input--one::placeholder {
  color: gray;
}
.main__input--two {
  width: 120px;
  height: 60px;
  border: 1px solid #C0E8E4;
  box-sizing: border-box;
  border-radius: 20px;
  padding-left: 5px;
  outline: none;
  font-size: 1.2em;
}

.main__block_right {
  width: 50%;
  height: 50%;
  display: flex;
}

#form {
  display: contents;
}

input[type=checkbox]:checked,
input[type=checkbox]:not(:checked),
input[type=radio]:checked,
input[type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type=checkbox]:checked + label,
input[type=checkbox]:not(:checked) + label,
input[type=radio]:checked + label,
input[type=radio]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}

input[type=checkbox]:checked + label:before,
input[type=checkbox]:not(:checked) + label:before,
input[type=radio]:checked + label:before,
input[type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #C0E8E4;
  background-color: #ffffff;
  border-radius: 3px;
}

input[type=checkbox]:checked + label:before,
input[type=checkbox]:not(:checked) + label:before {
  border-radius: 2px;
}

input[type=checkbox]:checked + label:after,
input[type=checkbox]:not(:checked) + label:after,
input[type=radio]:checked + label:after,
input[type=radio]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type=checkbox]:checked + label:after,
input[type=checkbox]:not(:checked) + label:after {
  left: 3px;
  top: 4px;
  width: 10px;
  height: 5px;
  border-radius: 1px;
  border-left: 3px solid #00B2A4;
  border-bottom: 3px solid #00B2A4;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type=radio]:checked + label:after,
input[type=radio]:not(:checked) + label:after {
  left: 3px;
  top: 3px;
  width: 14px;
  height: 14px;
  background-color: #00B2A4;
  border-radius: 2px;
}

input[type=checkbox]:not(:checked) + label:after,
input[type=radio]:not(:checked) + label:after {
  opacity: 0;
}

input[type=checkbox]:checked + label:after,
input[type=radio]:checked + label:after {
  opacity: 1;
}

@media (max-width: 800px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__block_left {
    width: 100%;
    height: 150%;
  }
  .main__block_right {
    width: 100%;
  }
  .main__input--two::placeholder {
    color: gray;
  }
  .main__first_button:after {
    content: "▼";
  }
  .main__first_button.active:after {
    content: "▲";
  }
  .main__two_button:after {
    content: "▼";
  }
  .main__two_button.active:after {
    content: "▲";
  }
  .main__three_button:after {
    content: "▼";
  }
  .main__three_button.active:after {
    content: "▲";
  }
  .main__first_filter {
    display: none;
  }
  .main__two_filter {
    display: none;
  }
  .main__three_filter {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
